<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <customEntities>
      <customEntity templateId="{ID}" itemName="Name of Item" displayName=""  deviceId="{Device ID}" layoutId="{Layout ID to be used}" >
        <components>
          <component templateId="{ID}" itemName="Components" displayName="Folder" sortOrder="">
            <component templateId="{ID}" itemName="Tab1" displayName="Tab" sortOrder="100" fields="{'Field':'Value'}">
              <component templateId="{ID}" itemName="Component1" displayName="Component" sortOrder="100" fields="{'Field':'Value','Field':'Value'}"></component>
	          <component templateId="{ID}" itemName="Component2" displayName="Component" sortOrder="100"></component>
            </component>
          </component>
        </components>
        <renderings>
          <rendering datasource="" placeholder="/maincontent/components" id="{2A9F5923-4BF8-4D4B-9CFA-A994808B28B5}" hasdatasource="false">
            <rendering datasource="/Components/Tab1" placeholder="/tabs-{0}-0" id="{A34E2495-E65C-449C-A2E7-BDEAF31FC335}">
              <rendering datasource="" placeholder="/tab-{0}-0" id="{53B3EC42-DB43-42D3-AE07-C8207A9802D1}" hasdatasource="false">
                <rendering datasource="/Component1" placeholder="/section-{0}-0" id="{BD61EA18-FC91-4406-94ED-1F8462BB1F4E}"></rendering>
              </rendering>
              <rendering datasource="" placeholder="/tab-{0}-0" id="{53B3EC42-DB43-42D3-AE07-C8207A9802D1}" hasdatasource="false">
                <rendering datasource="/Component2" placeholder="/section-{0}-0" id="{B96A546A-8544-4862-AD4F-1266C71DCF15}"></rendering>
              </rendering>
            </rendering>
          </rendering>
        </renderings>
      </customEntity>
    </customEntities>
    <events>
      <event name="item:created">
        <handler type="Website.Logic.Pipelines.CreateCustomItem, Website" method="OnItemCreated" />
      </event>
    </events>
  </sitecore>
</configuration>