<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <customEntities>
      <customEntity templateId="{ID}"  deviceId="{Device ID}" layoutId="{Layout ID to be used}" >
        <components>
          <component templateId="{ID}" itemName="Components" displayName="Folder" sortOrder="">
            <component templateId="{ID}" itemName="Tab1" displayName="Tab" sortOrder="100" fields="{'Field':'Value'}">
              <component templateId="{ID}" itemName="Component1" displayName="Component" sortOrder="100" fields="{'Field':'Value','Field':'Value'}"></component>
	          <component templateId="{ID}" itemName="Component2" displayName="Component" sortOrder="100"></component>
            </component>
          </component>
        </components>
        <renderings>
          <rendering datasource="" placeholder="/maincontent/components" id="{ID}" >
            <rendering datasource="/Components/Tab1" placeholder="/tabs-{0}-0" id="{ID}">
              <rendering datasource="" placeholder="/tab-{0}-0" id="{ID}">
                <rendering datasource="/Component1" placeholder="/section-{0}-0" id="{ID}"></rendering>
              </rendering>
              <rendering datasource="" placeholder="/tab-{0}-0" id="{ID}" >
                <rendering datasource="/Component2" placeholder="/section-{0}-0" id="{ID}"></rendering>
              </rendering>
            </rendering>
          </rendering>
        </renderings>
      </customEntity>
    </customEntities>
    <events>
      <event name="item:created">
        <handler type="Website.Logic.Pipelines.CreateCustomItem, Website" method="OnItemCreated" />
      </event>
    </events>
  </sitecore>
</configuration>